@import "src/styles/colors";

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .washing-machine {
    width: 30%;
    margin-bottom: 15px;

    .mat-card-title {
      margin-bottom: 20px;
    }

    .mat-card-content {
      display: flex;
      flex-direction: row;

      .icon {
        object-fit: contain;
        width: 100px;
        height: 100px;
      }

      .details {
        margin-left: 20px;

        .label, .value {
          font-size: 16px;
        }

        .label {
          color: $textColor;
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  :host {
    .washing-machine {
      width: 40%;
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    flex-direction: column;

    .washing-machine {
      width: 60vw;

      .mat-card-title {
        font-size: 14px;
      }

      .mat-card-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .details {
          margin-left: unset;
          margin-top: 15px;

          .label, .value {
            font-size: 12px;
          }
        }
      }

    }
  }
}