:host {
  display: flex;
  align-items: center;
  justify-content: center;

  .mat-card {
    min-width: 500px;
    width: 40vw;

    .mat-form-field {
      width: 100%;

      .mat-form-field-infix {
        width: 100%;
      }
    }

    .mat-card-content {
      .imageContainer {
        text-align: center;
        height: 250px;

        .image {
          height: 100%;
          object-fit: contain;
        }
      }

      .details {
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        .location, .status {
          flex: 1;
        }

        .location {
          margin-right: 20px;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  :host {
    .mat-card {
      width: 60vw;
      min-width: auto;

      .mat-card-title {
        font-size: 14px;
      }

      .mat-card-content {
        font-size: 12px;

        .imageContainer {
          height: 100px;
        }

        .details {
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .location {
            margin-right: unset;
          }
        }
      }
    }
  }
}